body {
    background-color:azure;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #161662;
}

h2 {
    color: #141459;
    text-align: center;
}

p {
    line-height: 1.5;
}

h3 {
    font-size:larger;
    color: #19196F;
}
